.header {
    width: 100%;
    margin-top: 40px;
    height: 70px;
    display: flex;
    justify-content: center;
}

.center_header {
    width: calc(100% - 200px); /* 100% ширины, но с учетом отступов 100px */
    max-width: 1400px; /* Ограничение по ширине */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.top_header {
    margin-top: 50px;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
}

.gift_header {
    width: calc(100% - 200px);
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Центрирует элементы по вертикали */
    height: 70px;
    border-radius: 18px;
    background: rgba(81, 81, 81, 0.40);
    backdrop-filter: blur(17.5px);
}

.gift_left {
    display: flex;
    flex-direction: row;
    align-items: center; /* Центрирует элементы внутри gift_left */
}

.gift_left p {
    color: white;
    margin-left: 24px;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.gift_right {
    display: flex;
    flex-direction: row;
    align-items: center; /* Центрирует элементы внутри gift_left */
}

.innerainfcoin {
    color: white;
    font-family: "Palui";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header_left {
    display: flex;
    align-items: center;
}

.main_text {
    color: white;
    margin-left: 24px;
    font-family: 'Palui', monospace;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

body {
    margin: 0;
    /*background-image: url('/static/images/background.png');*/
    background-size: cover; /* Растягиваем картинку на весь экран */
    background-position: center; /* Центрируем */
    background-repeat: no-repeat; /* Отключаем повторение */
    background-attachment: fixed; /* Фиксированный фон (параллакс-эффект) */
    min-height: 100vh; /* Минимальная высота - весь экран */
}

.block_menu-inactive {
    display: inline-flex;
    height: 57px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 18px;
    background: rgba(81, 81, 81, 0.40);
    backdrop-filter: blur(17.5px);
    transition: opacity 0.5s, transform 0.5s;
    cursor: pointer;
}

.block_menu-inactive:hover {
    background: rgba(81, 81, 81, 0.90);
    transform: scale(1.08);
}

.block_menu-inactive p {
    padding: 22px 43px;
    color: #FFF;
    font-family: "Palui";
    font-size: 12px;
    font-style: normal;
    line-height: normal;
}

.main_div_1 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.sub_div_1 {
    width: calc(100% - 200px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.big_text_1 {
    color: #FFF;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 80px;
    color: white;
}

.sub_text_1 {
    margin-top: 10px;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.invest_but_div {
    margin-top: 90px;
}

.main_div_2 {
    width: 100%;
    display: flex;
    justify-content: center;

}

.sub_div_2 {
    border-radius: 18px;
    background: rgba(81, 81, 81, 0.50);
    backdrop-filter: blur(17.5px);
    margin-top: 80px;
    width: calc(100% - 200px);
    max-width: 1400px;
    height: 360px;
    display: flex;
    justify-content: space-between;
}

.div2_left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px
}

.search-container {
    margin-bottom: 15px;
}

.search-input {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

.search-input:focus {
    outline: none;
    border-color: #666;
}

.div2_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 30px
}

.main_div_3 {
    margin-top: 110px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.sub_div_3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 колонки на больших экранах */
    gap: 60px 80px;
    max-width: 1400px;
    width: calc(100% - 200px);
    padding-bottom: 60px;
}

.card {
    padding: 20px;
    border-radius: 18px;
    border-radius: 18px;
    background: rgba(81, 81, 81, 0.40);
    backdrop-filter: blur(17.5px);
}

.card h3 {
    color: white;
    font-family: Montserrat;
}

.card p {
    color: white;
    font-family: Roboto;
    font-size: 18px;
}

.text_desc {
    color: #FFF;
    font-family: Roboto;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 50px;
}
.div2_right img {
    width: 100%;
    height: 100%;
    animation: spin 3s linear infinite;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
/* Авторизация */
.frame{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;

}
.auth_div{
    border-radius: 38px;
    background: rgba(81, 81, 81, 0.50);
    backdrop-filter: blur(17.5px);
    width: 512px;
    height: 100%;
}
.auth_header_1{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.auth_header_2 p{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    width: 100%;
    color: white;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 22px;
}

.container_an {
    margin-top: 35px;
    display: flex;
    width: 100%;
}
.container h2 {
    margin-bottom: 20px;
}
.input-group {
    margin-bottom: 15px;
    text-align: left;
}
.input-group label {
    display: block;
    margin-bottom: 5px;
}
.inner_an_container{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: Montserrat;
    padding: 20px;
    border-radius: 10px;
    width: calc(100% - 160px);
    text-align: center;
}
.input-group input {
    width: calc(100% - 22px);
    padding: 22px 0px 22px 22px;
    border-radius: 18px;
    font-size: 16px;
    border: none;
    background: #515151;
    color: white;
}
.checkbox {
    display: flex;
    align-items: center;
}
.checkbox input {
    margin-right: 10px;
}
.container_an button {
    margin-top: 50px;
    border: none;
    display: inline-flex;
    height: 57px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 18px;
    background: rgba(81, 81, 81, 0.40);
    backdrop-filter: blur(17.5px);
    transition: opacity 0.5s, transform 0.5s;
    cursor: pointer;
    color: white;
    font-family: Palui;
}
.register {
    margin-top: 32px;
    font-size: 14px;
}
.register a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(122, 122, 122, 0.8);
    transition: 0.4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}
.main_container_of_exchange{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.exchange_container{
    /*border-radius: 18px;*/
    /*background: rgba(81, 81, 81, 0.40);*/
    /*backdrop-filter: blur(17.5px);*/
    /*transition: opacity 0.5s, transform 0.5s;*/
    /*cursor: pointer;*/
    width: calc(100% - 200px);
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.exchange_left{
    width: 400px;
    display: flex;
    flex-direction: column;
}
.valutdiv{
    margin-top: 40px;
    display: flex;
    border-radius: 18px;
    background: rgba(81, 81, 81, 0.40);
    backdrop-filter: blur(17.5px);
    cursor: pointer;
    width: 360px;
    height: 80px;
    transition: background-color 0.5s, transform 0.5s;
    justify-content: space-between;
}
.valut_left p{
    color: white;
    font-family: Montserrat;
    font-size: 24px;
    margin-left: 18px;
    font-weight: 600;
}
.valutdiv img{
    margin-left: 20px;
    width: 50px;
    margin-top: auto;
    margin-bottom: auto;
    height: 50px;
}
.valutdiv:hover{
    background: rgba(81, 81, 81, 0.90);
    transform: scale(1.08);
}
.invest_up{
    font-family: Montserrat;
    color: green;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
    font-size: 20px;
    font-weight: 600;

}
.invest_down{
    font-family: Montserrat;
    color:red;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
    font-size: 20px;
    font-weight: 600;
}

input:checked + .slider {
    background: rgba(81, 81, 81, 0.80);
}

input:checked + .slider:before {
    transform: translateX(20px);
}

@media (max-width: 768px) {
    .center_header {
        width: calc(100% - 40px);
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .header_left {
        flex-direction: column;
    }

    .main_text {
        margin-left: 0;
        margin-top: 5px;
    }

    .sub_div_3 {
        grid-template-columns: 1fr
    }
}