<div>
    <div class="top_of_exchange">
        <img src="/static/images/invest_icons/YDEX.png"/>
        <p style="color: white">"ООО ЯНДЕКС"</p>
        <p style="margin-left: 50px" class="invest_up">+1,39 %*</p>
    </div>
    <div class="under_top_of_exchange">
        <p>*за последние 28 дней</p>
        <p style="font-weight: bold">124 INFCOIN за 1 лот</p>
    </div>
    <div class="your_valut">
        <div class="upper_my_valut">
            <p class="bolder_text">На вашем счете 19 YDEX</p>
            <p class="thinner_text">≈ 2356 INFCOIN</p>
        </div>
        <p>
            Вы можете как продавать так и покупать инвестиции с помощью INFCOIN.<br>
            Не забывайте, что всю ответственность за проведение сделки несете<br>
            только вы, поэтому решайте нужно это Вам или нет.</p>
    </div>
    <div class="buttons_div">
        <div style="margin-left: 34px" class="red_button">Продать | Sell</div>
        <div style="background-color: #35B100;margin-right: 34px" class="green_button">Купить | Buy</div>
    </div>
</div>