<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <style>
        @font-face {
            font-family: 'Palui';
            src: url('static/css/fonts/palui.ttf') format("truetype");
        }

        body {
            background-image: url('static/images/background.png');
        }
    </style>
    <link rel="stylesheet" href="static/css/style.css"/>
    <title>Авторизация ИБ</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
</head>
<body>
    <div style="height: 100vh " class="frame">
        <div class="auth_div">
            <div class="auth_header_1">
                <img style="width: 60px;height: 60px" src="static/images/logo.svg">
                <p class="main_text">ИНВЕСТИЦИИ<br>БЕСКОНЕЧНОСТИ</p>
            </div>
            <div class="auth_header_2">
                <p>Йоу, залетайте к нам)</p>
            </div>
            <div class="container_an">
               <div class="inner_an_container">
                    <form id="authForm" method="POST" action="/get_user">
                        <div class="input-group">
                            <label>Телефон</label>
                            <input name="phone" style="margin-top: 4px" type="text" placeholder="Номер телефона" required>
                        </div>

                        <script>
                            document.addEventListener("DOMContentLoaded", function() {
                                const phoneInput = document.querySelector('input[name="phone"]');

                                phoneInput.addEventListener('input', function(e) {
                                    let value = phoneInput.value.replace(/\D/g, '');

                                    // Заменяем первую цифру на 7, если пользователь начал с 8 или 7
                                    if (value.startsWith('8')) {
                                        value = '7' + value.slice(1);
                                    } else if (!value.startsWith('7')) {
                                        value = '7' + value;
                                    }

                                    // Формируем маску
                                    let result = '+7 ';
                                    if (value.length > 1) {
                                        result += '(' + value.substring(1, 4);
                                    }
                                    if (value.length >= 4) {
                                        result += ') ' + value.substring(4, 7);
                                    }
                                    if (value.length >= 7) {
                                        result += '-' + value.substring(7, 9);
                                    }
                                    if (value.length >= 9) {
                                        result += '-' + value.substring(9, 11);
                                    }

                                    phoneInput.value = result;
                                });
                                phoneInput.addEventListener('keydown', function(e) {
                                    if (
                                        !(
                                            (e.key >= '0' && e.key <= '9') ||
                                            ['Backspace', 'Delete', 'ArrowLeft', 'ArrowRight', 'Tab'].includes(e.key)
                                        )
                                    ) {
                                        e.preventDefault();
                                    }
                                });
                            });
                        </script>


                        <div class="input-group">
                            <label>Пароль</label>
                            <div style="position: relative;">
                                <input id="passwordInput" name="password" style="margin-top: 4px; padding-right: 35px;" type="password" placeholder="Введите пароль" required>
                                <span onclick="togglePassword()" style="position: absolute; right: 22px; top: 50%; transform: translateY(-50%); cursor: pointer; width: 24px; height: 24px;">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12 5C7 5 2.73 8.11 1 12C2.73 15.89 7 19 12 19C17 19 21.27 15.89 23 12C21.27 8.11 17 5 12 5Z" stroke="white" stroke-width="2"/>
                                    <circle cx="12" cy="12" r="3" stroke="white"  stroke-width="2"/>
                                </svg>
                            </span>
                            </div>
                        </div>

                        <script>
                            function togglePassword() {
                                const input = document.getElementById("passwordInput");
                                input.type = input.type === "password" ? "text" : "password";
                            }
                        </script>


                        <button style="width: calc(100% - 160px);" type="submit" class="button">ВОЙТИ</button>
                    </form>
                    <div class="register">
                        Нет аккаунта? <a href="/regPage"> Зарегистрируйтесь</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>