<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <style>
        @font-face {
            font-family: 'Palui';
            src: url('static/css/fonts/palui.ttf') format("truetype");
        }
        body{
            background-image: url('/static/images/background.png');
        }
    </style>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <title>Инвестиции Бесконечности</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<div class="frame_r">
    <div class="header">
        <div class="center_header">
            <div class="header_left">
                <img style="width: 70px;height: 70px" src="static/images/logo.svg">
                <p class="main_text">ИНВЕСТИЦИИ<br>БЕСКОНЕЧНОСТИ</p>
            </div>
            <div class="header_right">
                <div class="block_menu-inactive" style="margin-left: 20px">
                    <p>Наша команда</p>
                </div>
                <div class="block_menu-inactive" style="margin-left: 20px">
                    <p>INFCOIN</p>
                </div>
            </div>
        </div>
    </div>
    <div class="top_header">
        <div class="gift_header">
            <div style="display: flex; flex-direction: row; margin-top: auto; margin-bottom: auto" class="gift_left">
                <img style="margin-left: 22px" src="static/images/briefcase.svg">
                <p>Откройте бесконечный счет для инвестиций и получите до ∞ акций <a class="innerainfcoin">INFCOIN</a></p>
            </div>
        </div>
    </div>
    <div class="main_div_1">
        <div class="sub_div_1">
            <p class="big_text_1">Начните инвестировать всего лишь с 5 ₽ </p>
            <p class="sub_text_1">Покупайте ценные бумаги без комиссии. Удобный сайт и торговля на бирже с 7:00 по рнд.<br>Откроем бесконечный счет всего лишь за минуту, это Вам ничего не будет стоить.</p>
            <div class="invest_but_div">
                <div id="regBut" style="background: rgba(81, 81, 81, 0.70);" class="block_menu-inactive">
                    <p>начать инвестировать</p>
                </div>
                <div id="loginBut" style="background: rgba(81, 81, 81, 0.30);margin-left: 30px" class="block_menu-inactive">
                    <p>я уже инвестриую</p>
                </div>
            </div>
        </div>
    </div>
    <div class="main_div_2">
        <div class="sub_div_2">
            <div class="div2_left">
                <p style="margin-top: 40px;font-size: 20px" class="innerainfcoin">INFCOIN С НАМИ УЖЕ ∞ КЛИЕНТОВ</p>
                <p class="text_desc">С нами инвестиции становятся бесконечными! Раскрывайте<br>
                    новые возможности, умножайте капитал и двигайтесь к финансовой<br>
                    свободе. Надежные стратегии, передовые решения и<br>
                    безграничный потенциал – всё для вашего успеха!</p>
                <div id="regBut2" style="background: rgba(81, 81, 81, 0.70);width: 380px;margin-bottom: 40px" class="block_menu-inactive">
                    <p>хочу инвестировать</p>
                </div>
            </div>
            <div class="div2_right">
                <video src="{{ url_for('static', filename='images/infcoin.mp4') }}" autoplay muted loop
                       style="display: block; width: 300px; height: auto; border-radius: 20%"></video>
            </div>
        </div>
    </div>
    <div class="main_div_3">
        <div class="sub_div_3">
            <div class="card">
                <h3>Комиссия 0 ₽</h3>
                <p>Все операции осуществляются без комиссий.<br>Открытие счета, зачисление средств, а также<br>депозитарные услуги — абсолютно бесплатны.</p>
            </div>
            <div class="card">
                <h3>Бесплатное открытие счета</h3>
                <p>Откройте счет быстро и бесплатно! Наш<br>процесс занимает всего несколько минут,<br>и вы можете сделать это онлайн.</p>
            </div>
            <div class="card">
                <h3>INFCOIN в подарок</h3>
                <p>Наша команда дарит Вам акции INFCOIN в<br>подарок. Для этого необходимо пополнить<br>баланс на более чем 100 ₽</p>
            </div>
            <div class="card">
                <h3>Поддержка 24/5</h3>
                <p>Наша команда поддержки работает 24 часа<br>в день, 5 дней в неделю. Мы всегда готовы<br>помочь вам решить любые вопросы и проблемы.</p>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById("loginBut").addEventListener("click", function() {
        window.location.href = "/authPage"; // Замените на нужный файл
    });
    document.getElementById("regBut").addEventListener("click", function() {
        window.location.href = "/regPage"; // Замените на нужный файл
    });
    document.getElementById("regBut2").addEventListener("click", function() {
        window.location.href = "/regPage"; // Замените на нужный файл
    });
</script>
</body>
</html>
