<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <style>
        @font-face {
            font-family: 'Palui';
            src: url('static/css/fonts/palui.ttf') format("truetype");
        }
        body{
            background-image: url('/static/images/background.png');
        }
    </style>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <title>Инвест INFCOIN</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<div class="frame_r">
    <div class="header">
        <div class="center_header">
            <div class="header_left">
                <img style="width: 70px;height: 70px" src="static/images/logo.svg">
                <p class="main_text">ИНВЕСТИЦИИ<br>БЕСКОНЕЧНОСТИ</p>
            </div>
            <div class="header_right">
                <div class="block_menu-inactive" style="margin-left: 20px">
                    <p>{{ username }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="main_container_of_exchange">
        <div class="exchange_container">
            <div class="exchange_left">
                <p style="font-size: 24px;margin-top: 0px;margin-left: 0px" class="main_text">Добрый вечер</p>
                <div style=" background: rgba(81, 81, 81, 0.90);" class="valutdiv">
                    <div style="display: flex" class="valut_left">
                        <img src="/static/images/invest_icons/RUB.png"/>
                        <p>7800 ₽</p>
                    </div>
                    <p class="invest_up">+10 %</p>
                </div>
                <div class="valutdiv">
                    <div style="display: flex" class="valut_left">
                        <img src="/static/images/invest_icons/INF.png"/>
                        <p>5192 INFCOIN</p>
                    </div>
                    <p class="invest_up">+∞ %</p>
                </div>
                <div class="valutdiv">
                    <div style="display: flex" class="valut_left">
                        <img src="/static/images/invest_icons/YDEX.png"/>
                        <p>19 YDEX</p>
                    </div>
                    <p class="invest_up">+1,39 %</p>
                </div>
                <div class="valutdiv">
                    <div style="display: flex" class="valut_left">
                        <img src="/static/images/invest_icons/LKOX.png"/>
                        <p>4 LKOH</p>
                    </div>
                    <p class="invest_down">-1,24 %</p>
                </div>
                <div class="valutdiv">
                    <div style="display: flex" class="valut_left">
                        <img src="/static/images/invest_icons/SBER.png"/>
                        <p>6 SBER</p>
                    </div>
                    <p class="invest_up">+1,38 %</p>
                </div>
                <div class="valutdiv">
                    <div style="display: flex" class="valut_left">
                        <img src="/static/images/invest_icons/T.png"/>
                        <p>1 T</p>
                    </div>
                    <p class="invest_down">-0,38 %</p>
                </div>
                <div class="valutdiv">
                    <div style="display: flex" class="valut_left">
                        <img src="/static/images/invest_icons/NVTK.png"/>
                        <p>15 NVTK</p>
                    </div>
                    <p class="invest_up">+0,2 %</p>
                </div>
                <div class="valutdiv">
                    <div style="display: flex" class="valut_left">
                        <img src="/static/images/invest_icons/ROSN.png"/>
                        <p>4 ROSN</p>
                    </div>
                    <p class="invest_up">+0,9 %</p>
                </div>
            </div>
            <div class="exchange_right">

            </div>
        </div>
    </div>
</div>
</body>
</html>
