<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <style>
        @font-face {
            font-family: 'Palui';
            src: url('static/css/fonts/palui.ttf') format("truetype");
        }
        body {
            background-image: url('static/images/background.png');
        }
    </style>
    <link rel="stylesheet" href="static/css/style.css"/>
    <title>Регистрация ИБ</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
</head>
<body>
<div style="height: 100vh " class="frame">
    <div class="auth_div">
        <div class="auth_header_1">
            <img style="width: 60px;height: 60px" src="static/images/logo.svg">
            <p class="main_text">ИНВЕСТИЦИИ<br>БЕСКОНЕЧНОСТИ</p>
        </div>
        <div class="auth_header_2">
            <p>Йоу, давайте начнем)</p>
        </div>
        <div class="container_an">
            <div class="inner_an_container">
                <div class="input-group">
                    <label>Номер телефона</label>
                    <input style="margin-top: 4px" type="text" placeholder="Введите номер телефона">
                </div>
                <div class="input-group">
                    <label>Фамилия и Имя</label>
                    <input style="margin-top: 4px" type="text" placeholder="Введите вашу фамилию и имя">
                </div>
                <div class="input-group">
                    <label>Пароль</label>
                    <input style="margin-top: 4px" type="password" placeholder="Введите пароль">
                    <input style="margin-top: 18px" type="password" placeholder="Повторите пароль">
                </div>
                <button style="margin-top: 26px" class="button">Зарегистрироваться</button>
                <div class="register">
                    Есть аккаунт? <a href="/authPage"> Войдите</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>